.main-nav {
  background-color: $brown;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .company {
    color: rgba(255, 255, 255, .72);
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    margin-left: 20px;
    padding: 14px 0;
    vertical-align: middle;

    @media screen and (max-width: 800px) {
      background-color: $very-dark-brown;
      display: block;
      margin: 0;
      text-align: center;
      width: 100%;
    }

    i {
      width: 35px;
    }
  }

  ul {
    float: right;
    margin-right: 50px;

    @media screen and (max-width: 800px) {
      float: none;
      margin-right: 0;
      text-align: center;
      transition: .6s;
      width: 100%;
    }
  }

  li {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 30px;
    text-transform: capitalize;
    vertical-align: middle;

    &:hover {
      background-color: $dark-brown;
      color: #fff;
      transition: .3s;
    }

    @media screen and (max-width: 500px) {
      font-size: 16px;
      padding: 15px 20px;
    }
  }

  .selected {
    background-color: $dark-brown;
    color: #fff;
  }

  a {
    color: rgba(255, 255, 255, .72);
  }
}
