.about-header {
  background-color: $beige;
  padding-top: 200px;
  position: relative;

  @media screen and (max-width: 900px) {
    min-height: 500px;
    padding-top: 120px;
    transition: .6s;
  }

  @media screen and (max-width: 700px) {
    padding-top: 180px;
    transition: .6s;
  }

  &:before {
    left: 130px;
    top: 110px;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  &:after {
    content: "";
    background-image: url('../assets/stephen-guio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32);
    border: solid 5px #fff;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    right: 90px;
    top: 50%;
    margin-top: -170px;
    transition: .6s;

    @media screen and (max-width: 900px) {
      width: 300px;
      height: 300px;
      margin-top: -130px;
      transition: .6s;
    }

    @media screen and (max-width: 800px) {
      margin-top: -100px;
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  h1,
  h2 {
    color: $dark-brown;
  }

  h1 {
    margin-bottom: 30px;
  }

  h2 {
    width: 40%;

    @media screen and (max-width: 700px) {
      width: 100%;
      transition: .6s;
    }
  }
}