.green-copy-article {
  background-color: $green;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  width: 100%;

  p {
    color: rgba(255, 255, 255, .77);
    line-height: 30px;
    margin: 0 auto 15px;
    font-size: 17px;
    font-weight: 200;
    width: 80%;
  }

  img {
    margin-top: 50px;
    max-width: 95%;
  }
}
