$primary-font: 'Source Sans Pro', sans-serif;

$brown: #a17933;
$dark-brown: #74531a;
$very-dark-brown: #322309;
$beige: #dfd29a;
$green: #448f18;
$black: #000;



$primary-color: $black;
$secondary-color: $black;
$link-color: $green;

