input {
  background-color: #F5F5F5;
  border: 1px solid #E8E8E8;
  display: block;
  font-size: 18px;
  height: 45px;
  width: 100%;
}

textarea {
  background-color: #F5F5F5;
  border: 1px solid #E8E8E8;
  display: block;
  font-size: 18px;
  width: 100%;
  padding-top: 5px;
}
