* {
  box-sizing: border-box; }

html, body {
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%; }

ul, li, p, h1, h2, h3, h4, h5, h6, form, header, footer, nav, section, article {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  color: #448f18;
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

input {
  background-color: #F5F5F5;
  border: 1px solid #E8E8E8;
  display: block;
  font-size: 18px;
  height: 45px;
  width: 100%; }

textarea {
  background-color: #F5F5F5;
  border: 1px solid #E8E8E8;
  display: block;
  font-size: 18px;
  width: 100%;
  padding-top: 5px; }

button {
  border: 0;
  background-color: #448f18;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200; }

.main-nav {
  background-color: #a17933;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .main-nav .company {
    color: rgba(255, 255, 255, 0.72);
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    margin-left: 20px;
    padding: 14px 0;
    vertical-align: middle; }
    @media screen and (max-width: 800px) {
      .main-nav .company {
        background-color: #322309;
        display: block;
        margin: 0;
        text-align: center;
        width: 100%; } }
    .main-nav .company i {
      width: 35px; }
  .main-nav ul {
    float: right;
    margin-right: 50px; }
    @media screen and (max-width: 800px) {
      .main-nav ul {
        float: none;
        margin-right: 0;
        text-align: center;
        transition: .6s;
        width: 100%; } }
  .main-nav li {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 30px;
    text-transform: capitalize;
    vertical-align: middle; }
    .main-nav li:hover {
      background-color: #74531a;
      color: #fff;
      transition: .3s; }
    @media screen and (max-width: 500px) {
      .main-nav li {
        font-size: 16px;
        padding: 15px 20px; } }
  .main-nav .selected {
    background-color: #74531a;
    color: #fff; }
  .main-nav a {
    color: rgba(255, 255, 255, 0.72); }

footer {
  background-color: #a17933;
  color: #fff;
  min-height: 300px;
  padding: 50px;
  text-align: center; }

.page-header {
  min-height: 600px;
  width: 100%;
  padding: 100px 50px 50px; }
  .page-header h1 {
    font-weight: 200;
    font-size: 60px; }
  .page-header h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px; }
  .page-header:before {
    content: "";
    display: block;
    background-image: url('../assets/curve-line.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 530px;
    height: 150px;
    position: absolute;
    z-index: +100; }

.about-header {
  background-color: #dfd29a;
  padding-top: 200px;
  position: relative; }
  @media screen and (max-width: 900px) {
    .about-header {
      min-height: 500px;
      padding-top: 120px;
      transition: .6s; } }
  @media screen and (max-width: 700px) {
    .about-header {
      padding-top: 180px;
      transition: .6s; } }
  .about-header:before {
    left: 130px;
    top: 110px; }
    @media screen and (max-width: 1100px) {
      .about-header:before {
        display: none; } }
  .about-header:after {
    background-image: url('../assets/stephen-guio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 5px #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32);
    content: '';
    display: block;
    height: 400px;
    margin-top: -170px;
    position: absolute;
    right: 90px;
    top: 50%;
    transform: rotate(7deg);
    transition: .6s;
    width: 400px; }
    @media screen and (max-width: 900px) {
      .about-header:after {
        height: 300px;
        margin-top: -130px;
        transition: .6s;
        width: 300px; } }
    @media screen and (max-width: 800px) {
      .about-header:after {
        margin-top: -100px; } }
    @media screen and (max-width: 700px) {
      .about-header:after {
        display: none; } }
  .about-header h1, .about-header h2 {
    color: #74531a; }
  .about-header h1 {
    margin-bottom: 30px; }
  .about-header h2 {
    width: 40%; }
    @media screen and (max-width: 700px) {
      .about-header h2 {
        transition: .6s;
        width: 100%; } }

.green-copy-article {
  background-color: #448f18;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  width: 100%; }
  .green-copy-article p {
    color: rgba(255, 255, 255, 0.77);
    line-height: 30px;
    margin: 0 auto 15px;
    font-size: 17px;
    font-weight: 200;
    width: 80%; }
  .green-copy-article img {
    margin-top: 50px;
    max-width: 95%; }

.contact-form-article {
  padding: 50px;
  position: relative; }
  @media screen and (max-width: 675px) {
    .contact-form-article {
      padding: 50px 20px; } }
  .contact-form-article h1 {
    border-bottom: solid 1px #e2e2e2;
    color: #252525;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
    text-transform: uppercase; }
    .contact-form-article h1 i {
      width: 35px; }
  .contact-form-article form {
    margin-top: 30px;
    position: relative; }
  .contact-form-article .input-wrapper {
    width: 65%; }
    @media screen and (max-width: 675px) {
      .contact-form-article .input-wrapper {
        width: 100%; } }
  .contact-form-article input {
    margin-bottom: 15px;
    outline: none;
    padding-left: 10px; }
  .contact-form-article textarea {
    height: 200px;
    outline: none;
    padding-left: 10px;
    resize: none; }
  .contact-form-article button {
    position: absolute;
    right: 0;
    bottom: 0; }
    @media screen and (max-width: 675px) {
      .contact-form-article button {
        position: static;
        margin-top: 20px; } }
  .contact-form-article label {
    display: inline-block;
    padding: 13px 10px 15px;
    position: relative;
    width: 600px;
    z-index: 5; }
  .contact-form-article .twitter-wrapper {
    float: right;
    width: 200px;
    margin-top: 50px;
    text-align: right;
    z-index: +1; }
    .contact-form-article .twitter-wrapper p {
      font-weight: 400; }
    .contact-form-article .twitter-wrapper a {
      font-weight: 200;
      display: block;
      margin-bottom: 15px; }
    @media screen and (max-width: 675px) {
      .contact-form-article .twitter-wrapper {
        display: none; } }
  .contact-form-article .hide-label {
    color: rgba(0, 0, 0, 0.63);
    font-weight: 400;
    opacity: .5;
    padding-left: 13px;
    top: 47px;
    transition: top .3s ease;
    width: 100%; }
  .contact-form-article .show-label {
    font-weight: 100;
    top: 0;
    transition: top .3s ease; }
